{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{% static 'userAuthentication/css/style1.css' %}">
    <title>Email Verification</title>
</head>
<body>
    <div class="container1">
        <div class="paragraph">
            <h1>Verification Success!</h1>
            You have successfully verified <span><b>{{emailId}}</b></span> as your Meeting Minutes Genrator Id.
            <!-- You have sussessfully verified <span><b>sideve2431@rubeshi.com</b></span> 
            as your email address. -->

            <div class="paragraph">
                Click <span> <a href="{% url 'sign_In_ULR' %}">here</a></span> to login to your account.
            </div>

        </div>
    </div>
</body>
</html>